<p>Lugar de residencia!</p>
<div class="container">
    <h2 class="ion-padding"><b><u>CHICHIGUITE</u></b></h2>
  <img src="https://previews.123rf.com/images/krimzoya/krimzoya1505/krimzoya150500058/40386739-panorama-de-peu-ancien-village-pr%C3%A8s-du-lac.jpg"
  width="100%" height="100%">
  <h4>El lugar donde naci, tiene por nombre Chichiguite perteneciente al 
  municipio de Trujillo, en el departamento de Colon, cabe resaltar que esta aldea queda en la frontera de Trujillo 
  con sonaguera, por ende vivo mas cerca de la ciudad de Sonaguera que de la ciudad de Trujillo, pero como acabo de 
  mencionar esta aldea es la frontera entre estos municipios, esta hermosa aldea cuenta con mas de 3,000 habitantes, 
  su medio de trabajo es el cultivo y la venta de frutas como la naranja, palma, limon y cocos, cabe resaltar
  que esta es una de las mayores zonas de exportacion de naranja, todos los dias se exportan una cantidad de 
  tres rastras llenas de esta fruta, bien hacia el salvador o guatemala.</h4>
  
  <h2 ><b><u>BREVE VIDEO DE CHICHIGUITE</u></b></h2>
  <iframe width="100%" height="400" src="https://www.youtube.com/embed/H3JhifHJyks" 
  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
  allowfullscreen></iframe>



  </div>
